#homeWallpaper {
	background-position: center; /* Center the image */
  	background-repeat: no-repeat; /* Do not repeat the image */
  	background-size: cover;
  	background-image: url("https://biteable.com/content/uploads/2018/03/Background-Videos-for-Your-Homepage-SM-1200x630-c-center.jpg");
  	height: 680px;
}

#homePromotion {
	padding-top: 200px !important;
}

#imagenProducto {
	width: 400px;
	height: 400px;
	border: 1px solid lightgrey;
}