<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Dawtees!{% endblock %}</title>
        {% block head_css %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
            
            <link href="{{ asset('assets/css/estilos.css') }}" rel="stylesheet" type="text/css" />
        {% endblock %}
        {% block head_js %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        {% endblock %}
        
        {% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/estilos.css') }}" />{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
        
    </head>
    <body>
        {% block headbar %}
        
        <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
          <a class="navbar-brand" href="{{ path('home') }}">DAWTEES</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb"
            aria-expanded="true">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div id="navb" class="navbar-collapse collapse hide">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="{{ path('home') }}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path('productos') }}">Productos</a>
              </li>
            </ul>
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link active btn btn-success btn-sm" href="{{ path('cart') }}">
                  {% set total = 0 %}
                  {% for id, talla_array in app.session.get('cart') %}
                  {% for talla, color_array in talla_array %}
                  {% for color, qty in color_array %}
                  {% set total = total + 1 %}
                  {% endfor %}
                  {% endfor %}
                  {% endfor %}
                  Cart ({{ total }})
                </a>
              </li>
              {% if app.user %}
              <li class="nav-item">
                <a class="nav-link" href="{{ path('profile') }}"><span class="fas fa-user"></span>&nbsp;Perfil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path('logout') }}"><span class="fas fa-sign-in-alt"></span>&nbsp;Logout</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{ path('login') }}"><span class="fas fa-key"></span>&nbsp;Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path('registro') }}"><span class="fas fa-sign-in-alt"></span>&nbsp;Registro</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </nav>
        {% endblock %}
        {% block sidebar %} {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        
    </body>
</html>
