{% extends 'base.html.twig' %}
{% block body %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" id="homeWallpaper">
      <div class="col-md-5 p-lg-5 mx-auto my-5" id="homePromotion">
        <h1 class="display-4 font-weight-normal text-white">NOVEDAD</h1>
        <p class="lead font-weight-normal text-white">¡Colección Summer'19 ya disponible!</p>
        <a class="btn btn-light text-info font-weight-bold" href={{path('productos')}}>Ver Ahora</a>
      </div>
      <div class="product-device box-shadow d-none d-md-block"></div>
      <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>
{% endblock %}