{% extends 'base.html.twig' %}
{% block body %}
<div class="container mb-4">
    <div class="py-5 text-center">
        <h2>Carrito</h2>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Disponibilidad</th>
                            <th scope="col" class="text-center">Talla</th>
                            <th scope="col" class="text-center">Color</th>
                            <th scope="col" class="text-center">Cantidad</th>
                            <th scope="col" class="text-right">Subtotal</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set total = 0 %}
                        {% for producto in productos %}
                        {% set talla_array = app.session.get('cart')[producto.id] %}
                        {% for talla, color_array in talla_array %}
                        {% for color, qty in color_array %}
                        {% set price = producto.price_c * qty %}
                        {% set total = total + price %}
                        <tr>
                            <td>{{ producto.name }}</td>
                            <td class="text-success">In stock</td>
                            <form action="{{ path('cart_update') }}" method="POST">
                                <input type="hidden" name="id" value="{{producto.id}}">
                                <td><input class="form-control" type="text" name="talla" value="{{ talla }}" readonly></td>
                                <td><input class="form-control" type="text" name="color" value="{{ color }}" readonly></td>
                                <td><input class="form-control" type="number" name="qty" min="1" value="{{ qty }}"></td>
                                <td class="text-right">{{ price }} €</td>
                                <td class="text-right"><button class="btn btn-info btn-sm" name="submit" value="update"><i class="fa fa-sync-alt"></i>
                                    </button> </td>
                                <td class="text-right"><button class="btn btn-sm btn-danger" name="submit" value="delete"><i class="fa fa-trash"></i>
                                    </button> </td>
                            </form>
                        </tr>
                        {% endfor %}
                        {% endfor %}
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Total</td>
                            <td class="text-right">{{ total }} €</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <a href="{{ path('productos') }}" class="btn btn-block btn-lg text-uppercase btn-warning">Continua Comprando</a>
                </div>
                {% if productos|length > 0 %}
                <div class="col-sm-12 col-md-6 text-right">
                    <a href="{{ path('checkout') }}" class="btn btn-lg btn-block btn-success text-uppercase">Checkout</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}