{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <div class="py-5 text-center">
        <h2>Checkout</h2>
    </div>

    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>
                <span class="badge badge-secondary badge-pill">{{ productos|length }}</span>
            </h4>
            <ul class="list-group mb-3">
                {% set total = 0 %}
                {% for producto in productos %}
                {% set talla_array = app.session.get('cart')[producto.id] %}
                {% for talla, color_array in talla_array %}
                {% for color, qty in color_array %}
                {% set total_line = qty * producto.price_c %}
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">{{ qty }}x {{ producto.name }} - {{talla}} - {{color}}</h6>
                    </div>
                    <span class="text-muted">{{ producto.price_c }}€</span>
                </li>
                {% set total = total + total_line %}
                {% endfor %}
                {% endfor %}
                {% endfor %}
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (EUR)</span>
                    <strong><span id="total">{{ total }}</span>€</strong>
                </li>
            </ul>
        </div>
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Dirección entrega</h4>
            <form action="confirm_order" class="needs-validation" method ="POST">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">Nombre</label>
                        <input type="text" class="form-control" id="firstName" name="firstName" value="{{ user.first_name }}" required="">
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Apellido</label>
                        <input type="text" class="form-control" id="lastName" name="lastName" value="{{ user.last_name }}" required="">
                        <div class="invalid-feedback">
                            Valid last name is required.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="username">Username</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="username" name="username" disabled="" value="{{ user.username }}">
                        <div class="invalid-feedback" style="width: 100%;">
                            Your username is required.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" disabled value="{{ user.email }}">
                    <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address">Dirección</label>
                    <input type="text" class="form-control" id="address" name="address" required="" value="{{ user.primary_address_street }}">
                    <div class="invalid-feedback">
                        Please enter your shipping address.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="city">Ciudad</label>
                    <input type="text" class="form-control" id="city" name="city" required value="{{ user.primary_address_city }}">
                </div>

                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="state">Provincia</label>
                        <input type="text" class="form-control" id="state" name="state" required value="{{ user.primary_address_country }}">
                        <div class="invalid-feedback">
                            Please select a valid country.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="country">Pais</label>
                        <input type="text" class="form-control" id="country" name="country" required value="{{ user.primary_address_state }}">
                        <div class="invalid-feedback">
                            Please provide a valid state.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="zip">Código Postal</label>
                        <input type="text" class="form-control" id="zip" name="zip" placeholder="" required="" value="{{ user.primary_address_postalcode }}">
                        <div class="invalid-feedback">
                            Zip code required.
                        </div>
                    </div>
                </div>
                <hr class="mb-4">
                
                <hr class="mb-4">

                <h4 class="mb-3">Payment</h4>

                <div class="d-block my-3">
                    <div class="custom-control custom-radio">
                        <input id="credit" name="paymentMethod" type="radio" value="credit_card" class="custom-control-input" checked=""
                            required="">
                        <label class="custom-control-label" for="credit">Credit card</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="paypal" name="paymentMethod" type="radio" value="paypal" class="custom-control-input" required="">
                        <label class="custom-control-label" for="paypal">Paypal</label>
                    </div>
                </div>
                <div class="credit_card">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="cc-name">Name on card</label>
                            <input type="text" class="form-control" id="cc-name" name="cc-name" placeholder="" required="">
                            <small class="text-muted">Full name as displayed on card</small>
                            <div class="invalid-feedback">
                                Name on card is required
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="cc-number">Credit card number</label>
                            <input type="text" class="form-control" id="cc-number" name="cc-number" placeholder="XXXX-XXXX-XXXX-XXXX" required=""
                                pattern="^\d{4}-\d{4}-\d{4}-\d{4}$">
                            <div class="invalid-feedback">
                                Credit card number is required
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label for="cc-expiration">Expiration</label>
                            <input type="text" class="form-control" id="cc-expiration" name="cc-expiration" placeholder="" required=""
                                pattern="^\d{2}\/\d{2}$">
                            <div class="invalid-feedback">
                                Expiration date required
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="cc-expiration">CVV</label>
                            <input type="text" class="form-control" id="cc-cvv" name="cc-cvv" placeholder="" required=""
                                pattern="^\d{3}$">
                            <div class="invalid-feedback">
                                Security code required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="paypal" style="display: none">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div id="paypal-button-container"></div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit" id="continue">Continue to checkout</button>
            </form>
            <br><br><br>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script>
    $(function() {
        $('input[type=radio][name=paymentMethod]').change(function() {
            var option = $('input[type=radio][name=paymentMethod]:checked').val()
            if (option == 'credit_card') {
                $('.paypal').hide();
                $('.credit_card').show();
                $('#continue').show();
                $('#cc-name').prop('required', true);
                $('#cc-number').prop('required', true);
                $('#cc-expiration').prop('required', true);
                $('#cc-cvv').prop('required', true);
            } else if (option == "paypal") {
                $('.paypal').show();
                $('.credit_card').hide();
                $('#cc-name').removeAttr('required');
                $('#cc-number').removeAttr('required');
                $('#cc-expiration').removeAttr('required');
                $('#cc-cvv').removeAttr('required');
                $('#firstName').removeAttr('required');
                $('#lastName').removeAttr('required');
                $('#address').removeAttr('required');
                $('#city').removeAttr('required');
                $('#state').removeAttr('required');
                $('#country').removeAttr('required');
                $('#zip').removeAttr('required');
                $('#continue').hide()
            }
        });
    });
    </script>
    <script src="https://www.paypal.com/sdk/js?client-id=AUsw0cHoKbwoNAxLzQDSaZ8mUtDpqPD9x1mEqx7SyREgKElJ-dC0VQuy4_I7UGvN4qqHNKMKM5WTBR06&currency=EUR"></script>

    <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: $('#total').text()
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    $('#continue').click();
                });
            },
            onCancel: function(data, actions) {
                alert("Operación Cancelada! Vuelve a intentarlo");
            },

            onError: function(err) {
                alert("Se ha producido un error!");
                console.log(err);
            },
            // Only paypal button
            style: {
                layout: 'horizontal'
            }


        }).render('#paypal-button-container');
    </script>
{% endblock %}