{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8"><h1 class="text-center">{{mensaje}}</h1></div>
        <div class="col-lg-2"></div>
    </div>
    <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4"><a href="{{path('home')}}" class="btn btn-info text-center" style="width: 100%">Home</a></div>
            <div class="col-lg-4"></div>
        </div>
</div>
{% endblock%}