{% extends 'base.html.twig' %}
{% block body %}
<div class="container" style="margin-top: 70px;">
    <div class="row">
        {% if producto|length > 0 %}
        <div class="col-sm-4 item-photo">
            <img  class="img-fluid img-thumbnail" id="imagenProducto"
                src="{{producto.imagen_camiseta_c}}" />
        </div>
        <div class="col-sm-7">
            <!-- Titulo del producto -->
            <h3>{{ producto.name }}</h3>

            <!-- Precio -->
            <h6 class="title-price"><small>PRECIO</small></h6>
            <h3 style="margin-top:0px;">{{ producto.price_c }}€</h3>

            <!-- Detalles especificos del producto -->
            <form action="{{path('cart')}}" class="form-group" method="POST">
                <input type="hidden" value="{{producto.id}}" name="id">
                <div class="section">
                    <h6 class="title-attr" style="margin-top:15px;"><small>COLOR</small></h6>
                    <select name="color" id="color" class="form-control">
                        {% for color in producto.colores_c%}
                        <option value="{{color}}" class="attr">{{color}}</option>
                        {% endfor %}
                    </select>                    
                </div>
                <div class="section">
                    <h6 class="title-attr" style="margin-top:15px;"><small>TALLA</small></h6>
                    <select name="talla" id="talla" class="form-control">
                        {% for talla in producto.tallas_c%}
                        <option value="{{talla}}" class="attr">{{talla}}</option>
                        {% endfor %}
                    </select>                    
                </div>
                <div class="section" style="padding-bottom:20px;">
                    <h6 class="title-attr"><small>CANTIDAD</small></h6>
                    <div>
                        <input type="number" value="1" min="1" name="cantidad"/>
                    </div>
                </div>
                <div class="section" style="padding-bottom:20px;">
                    <input type="submit" class="btn btn-success" value="Añadir al Carrito">
                </div>
            </form>
        </div>
        {% else %}
	    <div class="col-sm">
					<h2 class="text-center"> Product not found</h2>
	    </div>
		{% endif %}
    </div>
</div>
{% endblock %}