{% extends 'base.html.twig' %}
{% block body %}
	<div class="container" style="margin-top: 70px;">
		{% if productos|length > 0 %}
		<div class="row">
		{% for producto in productos %}
			<div class="col-sm-4 item-photo">
					<a href="{{ path('producto') }}/{{ producto.id}}"><img src="{{producto.imagen_camiseta_c}}" class="img-fluid img-thumbnail" id="imagenProducto"></a>
					
					<br>
					<p class="text-md-center font-weight-bold">{{ producto.name }} - {{ producto.price_c }} €</p>
			</div>
		{% endfor %}
		</div>
		{% else %}
		<div class="row">
	    <div class="col-sm">
					<h2> Products not found</h2>
	    </div>
		</div>
		{% endif %}
	</div>
{% endblock %}




