{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container">
		<br>
		{% if msg is defined %}
		   <h3 class="text-center text-{{msg_type}}">{{msg}}</h3>
		{% endif %}
        <h1 class="text-center">User Sign Up:</h1>
        {{ form (form) }}
    </div>
    
{% endblock %}