{% extends 'base.html.twig' %}

{% block body %}
<br>
<div class="container text-center">
 	{% if userdata|length > 0 %}
	<h2>Perfil personal de {{ userdata.first_name }} {{userdata.last_name}}</h2>
	<hr>
	{% endif %}
    <form role="form" action="{{ path('profile_edit') }}" method="post">
    	<div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">Username</label>
            <div class="col-lg-9">
                <input class="form-control" type="text" value="{{userdata.username}}" readonly>
            </div>
        </div>
        <hr>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">Nombre</label>
            <div class="col-lg-9">
                <input class="form-control" type="text" name="first_name" value="{{userdata.first_name}}" >
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">Apellidos</label>
            <div class="col-lg-9">
                <input class="form-control" type="text" name="last_name" value="{{userdata.last_name}}" >
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">Email</label>
            <div class="col-lg-9">
                <input class="form-control" type="email" value="{{userdata.email}}" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">Teléfono</label>
            <div class="col-lg-9">
                <input class="form-control" type="phone" name="phone_mobile" value="{{userdata.phone_mobile}}" >
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">Direccion</label>
            <div class="col-lg-6">
                <input class="form-control" type="text" name="primary_address_street" value="{{userdata.primary_address_street}}" placeholder="Calle">
            </div>
            <div class="col-lg-3">
                <input class="form-control" type="text" name="primary_address_postalcode" value="{{userdata.primary_address_postalcode}}" placeholder="Codigo Postal">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label"></label>
            <div class="col-lg-3">
                <input class="form-control" type="text" name="primary_address_city" value="{{userdata.primary_address_city}}" placeholder="Ciudad">
            </div>
            <div class="col-lg-3">
                <input class="form-control" type="text" name="primary_address_state" value="{{userdata.primary_address_state}}" placeholder="Provincia">
            </div>
            <div class="col-lg-3">
                <input class="form-control" type="text" name="primary_address_country" value="{{userdata.primary_address_country}}" placeholder="Pais">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label"></label>
            <div class="col-lg-9">
                <input type="submit" class="btn btn-danger" name="cancel" value="Cancelar">
                &nbsp;
                <input type="submit" class="btn btn-primary" name="save" value="Guardar">
            </div>
        </div>
    </form>
</div>
{% endblock %}