{% extends 'base.html.twig' %}
{% block body %}
<div class="container mb-4">
    <div class="py-5 text-center">
        <h2>Detalle de Pedido</h2>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Producto</th>
                            <th scope="col" class="text-center">Talla</th>
                            <th scope="col" class="text-center">Color</th>
                            <th scope="col" class="text-center">Cantidad</th>
                            <th scope="col" class="text-right">Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if pedido.records|length > 0 %}
                        {% for linea in pedido.records %}
                        <tr>
                            <td>{{ linea.name }}</td>
                            <td class="text-center">{{ linea.talla_c }}</td>
                            <td class="text-center">{{ linea.color_c }}</td>
                            <td class="text-center">{{ linea.cantidad_c }}</td>
                            <td class="text-right">{{ linea.subtotal_c }}€</td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td>&nbsp;</td>
                            <td class="text-center">No hay lineas de pedido</td>
                            <td>&nbsp;</td>
                        </tr>
                        {% endif %}

                        <form action="{{ path('orders') }}" method="GET">
                        <div class="form-group row">
                            <div class="col-lg-9">
                                <input type="submit" class="btn btn-primary" value="Volver">
                            </div>
                        </div>
                        </form>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}