{% extends 'base.html.twig' %}
{% block body %}
<div class="container mb-4">
    <div class="py-5 text-center">
        <h2>Historial de Pedidos</h2>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Pedido</th>
                            <th scope="col" class="text-right">Total €</th>
                            <th scope="col" class="text-right">Estado</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if pedidos.records|length > 0 %}
                        {% for pedido in pedidos.records %}
                        <tr>
                            <td>{{ pedido.name }}</td>
                            <td class="text-right">{{ pedido.total_c}}€</td>
                            <td class="text-right">{{pedido.estado_c}}</td>
                            <form action="{{ path('order_detail') }}" method="POST">
                                <input type="hidden" name="id" value="{{pedido.id}}">
                                <td class="text-right"><button class="btn btn-info btn-sm" name="submit" value="detail">Ver detalle</i>
                                    </button> </td>
                            </form>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td>&nbsp;</td>
                            <td class="text-center">No has realizado ningun pedido</td>
                            <td>&nbsp;</td>
                        </tr>
                        {% endif %}

                        <form action="{{ path('profile') }}" method="POST">
                            <div class="form-group row">
                                <div class="col-lg-9">
                                    <input type="submit" class="btn btn-primary" value="Volver al perfil">
                                </div>
                            </div>
                        </form>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}