{% extends 'base.html.twig' %}

{% block body %}
<br>
<div class="container text-center">
 	{% if userdata|length > 0 %}
	<h2>Perfil personal de {{ userdata.first_name }} {{userdata.last_name}}</h2>
	<hr>
	{% endif %}
    <form role="form" action="{{ path('orders') }}" method="post">
         <div class="form-group row">
            <label class="col-lg-2 col-form-label form-control-label">&nbsp;</label>
            <div class="col-lg-4">
               <input type="submit" class="btn btn-success" value="Listado de pedidos">
            </div>
        </div>
    </form>
    <br><br>

    <form role="form" action="{{ path('profile_edit') }}" method="post">
    	 <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">Username</label>
            <div class="col-lg-3">
               <input class="form-control" type="text" value="{{userdata.username}}" readonly>
            </div>
        </div>
        <hr>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">Nombre</label>
            <div class="col-lg-9">
                <input class="form-control" type="text" value="{{userdata.first_name}}" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">Apellidos</label>
            <div class="col-lg-9">
                <input class="form-control" type="text" value="{{userdata.last_name}}" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">Email</label>
            <div class="col-lg-9">
                <input class="form-control" type="email" value="{{userdata.email}}" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">Teléfono</label>
            <div class="col-lg-9">
                <input class="form-control" type="email" value="{{userdata.phone_mobile}}" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">Direccion</label>
            <div class="col-lg-6">
                <input class="form-control" type="text" value="{{userdata.primary_address_street}}" placeholder="Calle" readonly>
            </div>
            <div class="col-lg-3">
                <input class="form-control" type="text" value="{{userdata.primary_address_postalcode}}" placeholder="Codigo Postal" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label"></label>
            <div class="col-lg-3">
                <input class="form-control" type="text" value="{{userdata.primary_address_city}}" placeholder="Ciudad" readonly>
            </div>
            <div class="col-lg-3">
                <input class="form-control" type="text" value="{{userdata.primary_address_state}}" placeholder="Provincia" readonly>
            </div>
            <div class="col-lg-3">
                <input class="form-control" type="text" value="{{userdata.primary_address_country}}" placeholder="Pais" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label"></label>
            <div class="col-lg-9">
                <input type="submit" class="btn btn-primary" value="Editar">
            </div>
        </div>
    </form>
    <hr>
</div>
{% endblock %}